<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Page title based on ViewData -->
    <title>@ViewData["Title"] - forum</title>
    <!-- Link to Bootstrap CSS and custom CSS files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/forum.styles.css" asp-append-version="true" />
</head>

<body style="background-color: #ffffff">
    <!-- Header and navigation bar -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-success">
            <div class="container-fluid">
                <!-- Forum brand/logo linked to the home page -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forum</a>

                <!-- Responsive navbar toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Search input field and button -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"></div>

                <input placeholder="  #tag or title" style="border-radius: 25px; background-color: #aaea8f" type="search"
                    id="site-search" name="q">
                &nbsp&nbsp
                <button style="border-radius: 25px; background-color: #aaea8f" onclick="search()">&nbsp Search
                    &nbsp</button>
            </div>
        </nav>
    </header>

    <!-- Main content container -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- JavaScript code for handling search -->
    <script>
        function search() {
            // Get the search query from the input field
            var search_query = $('#site-search').val();

            // Redirect to the search action with the query
            location.href = '@Url.Action("Search", "Home", new { query = "search_query" })'.replace("search_query", search_query);
        }
    </script>

    <!-- JavaScript libraries (jQuery and Bootstrap) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScript file -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Render additional scripts as needed -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
