<center>
    <!-- Displaying a message for account creation -->
    <div>
        <h1>Account created</h1>
    </div>
    <!-- Button for returning to the sign-in page -->
    <button style="font-size: 30px; color: white; border-radius: 25px; background-color: #5aea6e"
        onclick="window.location.href='/Auth/SignIn'" class="loginbutton">
        <!-- Labeling the button as "Login" -->
        &nbsp&nbsp&nbsp Login &nbsp&nbsp&nbsp
    </button>
</center>
