@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div>
        <label for="signupbutton">Want to join?</label>
        <br/>
        <button style="font-size: 30px;color:white;border-radius:25px;background-color:#0c4128" class="signupbutton" onclick="window.location.href='/signup'">Sign up</button>
        </button>
    </div>
    <br/>
    <div>
        <label for="loginbutton">Already have an account?</label>
    <br/>
    <button style="font-size: 30px; color:white; border-radius:25px; background-color:#5aea6e" onclick="window.location.href='/login'" class="loginbutton">Login</button>
    </div>
</div>